<nav class="navbar navbar-expand-lg navbar-dark bg-warning mb-5">
    <a class="navbar-brand text-primary" href="#">Dashboard</a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link text-primary" href="{{ url_for('customer_add') }}">Customer Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{{ url_for('customeredit') }}">Customer Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{{ url_for('restaurant_add') }}">Restaurant Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{{ url_for('restaurant_edit') }}">Restaurant Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{{ url_for('city_add') }}">City Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" href="{{ url_for('city_edit') }}">City Edit</a>
        </li>
      </ul>
    </div>
  </nav>