{% extends "admin/base.html"%}

{% block content%}
<h2>Category</h2>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for blogcategory in blogcategories %}
        <tr>
            <th scope="row">{{blogcategory.id}}</th>
            <td>{{blogcategory.title}}</td>
            <td><a href="{{url_for('blogcategory_edit', id=blogcategory.id)}}"><i class="fas fa-edit"></i>Update</a></td>
            <td><a href="{{url_for('blogcategory_delete', id=blogcategory.id)}}" onclick="return confirm('Are you sure to delete?')"><i class="fas fa-trash-alt"></i>Delete</a></td>
          </tr>
        {% endfor %}
      
    </tbody>
  </table>   
{% endblock %}