{% extends "admin/base.html"%}

{% block content%}
<h2>Restaurant</h2>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">LOCATION</th>
        <th scope="col">STATUS</th>
        <th scope="col">PHONE</th>
        <th scope="col">CITY</th>
        <th scope="col">IMAGE</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for restourant in restaurants %}
        <tr>
            <th scope="row">{{restourant.id}}</th>
            <td>{{restourant.title}}</td>
            <td>{{restourant.location}}</td>
            <td>{{restourant.status}}</td>
            <td>{{restourant.phone}}</td>
            <td>{{restourant.cities.title}}</td>
            <td><img src="/static/uploads/{{restourant.image}}" alt=""></td>
            <td><a href="{{url_for('restaurant_edit', id=restourant.id)}}"><i class="fas fa-edit"></i>Update</a></td>
            <td><a href="{{url_for('restaurant_delete', id=restourant.id)}}" onclick="return confirm('Are you sure to delete?')">
            
              <i class="fas fa-trash-alt"></i>Delete</a></td>
          </tr>
        {% endfor %}
      
    </tbody>
  </table>   
{% endblock %}