{% extends "admin/base.html"%}

{% block content%}
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">USERNAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">IMAGE</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <th scope="row">{{customer.id}}</th>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.username}}</td>
            <td>{{customer.image|truncate(8)}}</td>
            <td><a href="{{url_for('customeredit', id=customer.id)}}"><i class="fas fa-edit"></i>Update</a></td>
            <td><a href="{{url_for('customeredit', id=customer.id)}}"><i class="fas fa-trash-alt"></i>Delete</a></td>
          </tr>
        {% endfor %}
      
    </tbody>
  </table>   
{% endblock %}