<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>
    {% extends "layout.html" %}

    {% block content %}
    <main>
        <div class="about-blog d-flex align-items-center justify-content hero-overly">
            <div class="about-text ">
                <h2>About</h2>
            </div>
        </div>

        <div class="about-area">
            <div class="container">
                <div class="row justify-content">
                    <div class="col-8">
                        <div class="about-details">
                            <h2>Our History</h2>
                            <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                eaque ipsa quae ab illo inventore.. <br><br> Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore..
                            </p>
                            <img src="img/about-details.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <section class="section-1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-tittle text-center mb-45">
                            <h2>Top Destination</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mr-20">
                        <div class="location text-center mb-35">
                            <div class="location-img">
                                <div class="border"></div>
                                <img src="img/topDesti1.png" alt="New York">
                                <div class="location-details">

                                    <a href="#">
                                            Explore
                                            <i class="fas fa-angle-right"></i>
                                        </a>

                                </div>

                            </div>
                            <h3>
                                <a href="#" class="location-link">New York</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-2 mr-20">
                        <div class="location text-center mb-35">
                            <div class="location-img">
                                <div class="border"></div>
                                <img src="img/topDesti2.png" alt="Toronto">
                                <div class="location-details">

                                    <a href="#">
                                            Explore
                                            <i class="fas fa-angle-right"></i>
                                        </a>

                                </div>

                            </div>
                            <h3>
                                <a href="#" class="location-link">Toronto</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-2 mr-20">
                        <div class="location text-center mb-35">
                            <div class="location-img">
                                <div class="border"></div>
                                <img src="img/topDesti3.png" alt="Thailand">
                                <div class="location-details">

                                    <a href="#">
                                            Explore
                                            <i class="fas fa-angle-right"></i>
                                        </a>

                                </div>

                            </div>
                            <h3>
                                <a href="#" class="location-link">Thailand</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-2 mr-20">
                        <div class="location text-center mb-35">
                            <div class="location-img">
                                <div class="border"></div>
                                <img src="img/topDesti4.png" alt="Paris">
                                <div class="location-details">

                                    <a href="#">
                                            Explore
                                            <i class="fas fa-angle-right"></i>
                                        </a>

                                </div>

                            </div>
                            <h3>
                                <a href="#" class="location-link">Paris</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-2 mr-20">
                        <div class="location text-center mb-35">
                            <div class="location-img">
                                <div class="border"></div>
                                <img src="img/topDesti5.png" alt="Dhaka">
                                <div class="location-details">

                                    <a href="#">
                                            Explore
                                            <i class="fas fa-angle-right"></i>
                                        </a>

                                </div>

                            </div>
                            <h3>
                                <a href="#" class="location-link">Dhaka</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="location text-center mb-35">
                            <div class="location-img">
                                <div class="border"></div>
                                <img src="img/topDesti6.png" alt="Rome">
                                <div class="location-details">

                                    <a href="#">
                                            Explore
                                            <i class="fas fa-angle-right"></i>
                                        </a>

                                </div>

                            </div>
                            <h3>
                                <a href="#" class="location-link">Rome</a>
                            </h3>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <section class="section-4">
            <div class="container">
                <div class="row justify-content">
                    <div class="col-7">
                        <div class="section-4-tittle text-center mb-80">
                            <h2>How it Work?</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <div class="single-services text-center mb-35">
                            <div class="services-icon">
                                <img src="img/services1.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="">Find Businesses</a></h5>
                                <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-services text-center mb-35">
                            <div class="services-icon">
                                <img src="img/services2.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="">Rewiew Listings</a></h5>
                                <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-services text-center mb-35">
                            <div class="services-icon">
                                <img src="img/services3.svg" alt="">
                            </div>
                            <div class="services-cap">
                                <h5><a href="">Make a Reservation</a></h5>
                                <p>Discover & connect with great local businesses in your local neighborhood like dentists, hair stylists and more.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-6 mt-100 mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-6 positon-r">
                        <div class="video-area">
                            <img src="img/video-bg.jpg" alt="">
                        </div>
                        <div class="video-icon">
                            <a href="">
                                <img src="img/play-butto.svg" alt="">
                            </a>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="video-about">
                            <h2>People talking about</h2>
                            <p class="video-about-text">"Discover &amp; connect with great local businesses in your local neighborhood like dentists, hair stylists and more unde omnis iste natus error sit voluptatem.</p>
                            <div class="video-about-reivew d-flex align-items-center">
                                <img src="img/founder-img.png" alt="">
                                <div>
                                    <span>Dan delion</span>

                                    <p class="User-info">UI & UX Designer at Colorlib</p>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </main>
    {%endblock  %}
   





</body>

</html>