.bg-blog {
    background-image: url(../img/h2_hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    z-index: 0;
}

.blog-text {
    padding-top: 80px;
}

.blog-text h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 90px;
}

.blog-item {
    margin-bottom: 50px;
}

.blog-item-img {
    position: relative;
}

.blog-item-date {
    position: absolute;
    display: block;
    color: #fff;
    background-color: #4DB7FE;
    padding: 8px 15px;
    border-radius: 5px;
    bottom: -20px;
    left: 50px;
    padding: 13px 30px;
}

.blog-item-date:hover {
    background: none;
}

.blog-details {
    padding: 60px 30px 35px 35px;
    box-shadow: -8px 10px 20px 0px rgb(221 221 221 / 30%);
}

.blog-details a {
    display: inline-block;
    color: #080808;
    transition: all 0.4;
}

.blog-details a:hover {
    color: #4DB7FE;
    transition: All 0.4s;
}

.blog-info-link li {
    float: left;
    font-size: 14px;
    margin-right: 10px;
}

.search-widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.search-widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
    width: 75%;
}

.boxed-btn2 {
    background: #4DB7FE;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 17px 20px;
    border-left: 0;
    cursor: pointer;
}

.side-category {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.side-category h2 {
    border-bottom: 1px solid #f0e9ff;
}

.side-category ul li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.side-category ul li a {
    font: Mulish, sans-serif;
    Font-size: 16px;
    Font-weight: 300;
    line-height: 25.6px;
    color: rgb(107, 90, 90);
}

.side-category ul li a:hover {
    color: #4DB7FE;
}

.side-post {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.side-post-body {
    display: flex;
    margin-bottom: 20px;
}

.side-post-img img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.side-post-text a {
    color: #2d2d2d;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
}

.side-post-text a:hover {
    color: #4DB7FE;
}

.tag-clouds {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.tag-clouds-body ul li {
    display: inline-block;
}

.tag-clouds-body ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}

.tag-clouds-body ul li a:hover {
    background-color: #4DB7FE;
    color: white;
}

.tag-clouds-link {
    border: 1px solid white;
}

.News-subscribe {
    background: #fbf9ff;
    padding: 30px;
}

.News-subscribe h2 {
    border-bottom: 1px solid #2d2d2d;
    margin-bottom: 40px;
    padding-bottom: 10px;
    width: 95%;
    color: #2d2d2d;
}

.News-subscribe-input input {
    width: 95%;
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    outline: none;
}

.News-subscribe-input button {
    width: 95%;
    background: #fff;
    padding: 18px 44px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #4DB7FE;
    letter-spacing: 1px;
    text-align: center;
    color: #4DB7FE;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}

.News-subscribe-input button:hover {
    background-color: #4DB7FE;
    color: white;
}

.instagram-feeds {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}

.instagram-img img {
    width: 111px;
    height: 111px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.pagination-area .page-link {
    font-size: 14px;
    text-align: center;
    box-shadow: none;
    outline: 0;
    color: #68696E;
    padding: 8px 10px;
    background: #fff;
    margin: 0 11px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}

.pagination-area .page-link:hover {
    background: #4DB7FE;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}