<footer>
    <div class="footer-wrapper">
        <div class="footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <div class="footer-logo mb-35 mt-25">
                            <a href="#">
                                <img src="{{ url_for('static',filename='img/logo.png') }}" alt="footer-logo">
                            </a>
                        </div>
                        <div class="footer-tittle">
                            <p class="footer-tittle-text">Seddo eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Conse <br> ctetur pisicin elit, sed do eiusmod tempor.</p>
                        </div>
                        <div class="footer-social">
                            <a href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-2">
                        <div class="footer-tittle-2">
                            <h4>Navigation</h4>
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">Services</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="footer-tittle-3">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="">Care</a></li>
                                <li><a href="">Treatment</a></li>
                                <li><a href="">Trainingl</a></li>
                                <li><a href="">Hygienic Care</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="footer-tittle-4">
                            <div class="subscribe">
                                <h4>Subscribe newsletter</h4>
                                <p>Subscribe our newsletter to get updates about our services and offers.</p>
                            </div>
                            <div class="footer-form positon-r mb-15">
                                <form action="">
                                    <input type="email" name="EMAIL" placeholder="Enter your email" class="form-input">
                                </form>
                                <div class="form-icon">
                                    <button type="submit">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom-area text-center ">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-copy-right">
                                <p>
                                    Copyright ©2021 All rights reserved | This template is made with
                                    <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>

