<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/blog.css')}}">
</head>

<body>
    {% extends "layout.html"%}

    {% block content %}
    <main>
        <div class="bg-blog d-flex align-items-center justify-content hero-overly">
            <div class="blog-text ">
                <h2>Blog</h2>
            </div>
        </div>

        <section class="blog-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="blog-left-sidebar">
                            {% for blog in blogs%}
                            <div class="blog-item">
                                <div class="blog-item-img ">
                                    <img src="/static/uploads/{{blog.image}}" alt="">
                                    <a href="" class="blog-item-date">
                                        <h3>{{blog.blog_posted}}</h3>
                                        <p>{{blog.blog_posted}}</p>
                                    </a>
                                </div>
                                <div class="blog-details">
                                    <a href="">
                                        <h2 class="blog-head" style="color: #2d2d2d;">{{blog.title}}</h2>
                                        
                                    </a>
                                    <p>{{blog.short_description}}</p>
                                    <a href="{{url_for('blogdetails', id=blog.id)}}" style="margin-bottom: 20px;font-size: 25px;">Read More</a>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i>{{blog.categories.title}}</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor%}
                            <div class="pagination-area pt-10">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-wrap d-flex justify-content pt-10">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination d-flex">
                                                    <li class="page-item">
                                                        <a href="" class="page-link">
                                                            <i class="fas fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                    <li><a href="" class="page-link">01</a></li>
                                                    <li><a href="" class="page-link">02</a></li>
                                                    <li><a href="" class="page-link">03</a></li>
                                                    <li>
                                                        <a href="" class="page-link">
                                                            <i class="fas fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ml-20">
                        <div class="blog-right-sidebar">
                            <div class="search-widget">
                                <form action="#">
                                    <div class="input-group d-flex">
                                        <input type="text" class="form-control" placeholder="Search Keyword">
                                        <div class="input-btn">
                                            <button class="boxed-btn2 d-flex" type="button">Search</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="side-category">
                                <h2 class="mb-35">Category</h2>
                                <ul>
                                    {% for category in categories %}
                                    <li><a href="">{{category.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="side-post">
                                <h2>Recent Post</h2>
                                {%for post in posts%}
                                <div class="side-post-body">
                                    <div class="side-post-img">
                                        <img src="/static/uploads/{{post.image}}" alt="post_1">
                                    </div>
                                    <div class="side-post-text">
                                        <a href="">{{post.title}}</a>
                                        <p>{{post.blog_posted}}</p>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>
                            <div class="tag-clouds">
                                <h2>Tag clouds</h2>
                                <div class="tag-clouds-body">
                                    <ul>
                                        <li><a href="" class="tag-clouds-link ">project</a> </li>
                                        <li><a href="" class="tag-clouds-link ">love</a> </li>
                                        <li><a href="" class="tag-clouds-link ">technology</a> </li>
                                        <li><a href="" class="tag-clouds-link ">travel</a> </li>
                                        <li><a href="" class="tag-clouds-link ">restaurant</a> </li>
                                        <li><a href="" class="tag-clouds-link ">life style</a> </li>
                                        <li><a href="" class="tag-clouds-link ">design</a> </li>
                                        <li><a href="" class="tag-clouds-link ">illustration</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="instagram-feeds ">
                                <h2>Instagram Feeds</h2>
                                <div class="instagram-feeds-img d-flex">
                                    <div class="instagram-img">
                                        <img src="img/post_5.jpg" alt="">
                                    </div>
                                    <div class="instagram-img">
                                        <img src="img/post_6.jpg" alt="">
                                    </div>
                                    <div class="instagram-img">
                                        <img src="img/post_7.jpg" alt="">
                                    </div>

                                </div>
                                <div class="instagram-feeds-img d-flex">
                                    <div class="instagram-img">
                                        <img src="img/post_8.jpg" alt="">
                                    </div>
                                    <div class="instagram-img">
                                        <img src="img/post_9.jpg" alt="">
                                    </div>
                                    <div class="instagram-img">
                                        <img src="img/post_10.jpg" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="News-subscribe">
                                <h2>Newsletter</h2>
                                <div class="News-subscribe-input">
                                    <form action="">
                                        <input type="email" placeholder="Enter email">
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            </div>

        </section>
    </main>
    {% endblock %}




</body>

</html>