<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/listing.css') }}">
</head>

<body>
    {% extends "layout.html"%}
    {% block content%}
    <main>
        <div class="bg-listing d-flex align-items-center justify-content hero-overly">
            <div class="listing-text ">
                <h2>Listings</h2>
            </div>
        </div>

        <div class="listin-area section-padding">

            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="small-tittle mb-25">
                                    <h4>Filter</h4>
                                </div>
                            </div>
                        </div>
                        <div class="category-listing mb-50">

                            <div class="single-listing">
                                <div class="select-item">
                                    <select name="select" id="">
                                        <option value="">City</option>
                                        <option value="">Dhaka</option>
                                        <option value="">India</option>
                                        <option value="">UK</option>
                                        <option value="">US</option>
                                        <option value="">Pakistan</option>
                                    </select>
                                </div>
                                <div class="select-item">
                                    <select name="select" id="">
                                        <option value="">State</option>
                                        <option value="">Dhaka</option>
                                        <option value="">Mirpur</option>
                                        <option value="">Danmondi</option>
                                        <option value="">Rampura</option>
                                        <option value="">Htizill</option>
                                    </select>
                                </div>
                                <div class="select-item">
                                    <select name="select" id="">
                                        <option value="">Near 1 Km</option>
                                        <option value="">2 Km</option>
                                        <option value="">3 Km</option>
                                        <option value="">4 Km</option>
                                        <option value="">5 Km</option>
                                        <option value="">6 Km</option>
                                    </select>
                                </div>
                            </div>
                            <div class="small-tittle2 mb-15">
                                <h4>Price range</h4>
                            </div>
                            <form>
                                <input type="checkbox" id="50-150" name="" value="">
                                <label for="50-150">$50 - $150
                                </label>
                                <input type="checkbox" id="150-300" name="" value="">
                                <label for="150-300">$150 - $300
                                </label>
                                <input type="checkbox" id="300-500" name="" value="">
                                <label for="300-500">$300 - $500
                                </label>
                                <input type="checkbox" id="500-1000" name="" value="">
                                <label for="500-1000">$500 - $100
                                </label>
                                <input type="checkbox" id="1000" name="" value="">
                                <label for="1000">$1000-Above
                                </label>
                            </form>


                            <div class="select-Categories">
                                <div class="small-tittle-2">
                                    <h4>Tags</h4>
                                </div>
                                <input type="checkbox" id="WirelessInternet" name="" value="">
                                <label for="WirelessInternet">Wireless Internet
                                </label>
                                <input type="checkbox" id="AcceptsCreditCards" name="" value="">
                                <label for="AcceptsCreditCards">Accepts Credit Cards
                                </label>
                                <input type="checkbox" id="SmokingAllowed" name="" value="">
                                <label for="SmokingAllowed">Smoking Allowed
                                </label>
                                <input type="checkbox" id="Coupons" name="" value="">
                                <label for="Coupons">Coupons
                                </label>


                            </div>
                        </div>

                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <div class="listing-tittle ml-20 ">
                                    <h2>5432 Listings are available</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for restaurant in restaurants %}
                            <div class="col-6">
                                <div class="properties-card positon-r">
                                    <a href="">
                                        <img src="/static/uploads/{{restaurant.image}}" alt="">
                                    </a>
                                    <div class="img-text">
                                        <span>{{restaurant.status}}</span>
                                    </div>
                                    <div class="icon">
                                        <i class="far fa-heart"></i>
                                    </div>
                                    <div class="ratting">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><span> - 4.90 (230 Reiew)</span></li>

                                        </ul>
                                    </div>

                                    <div class="properties-tittle ml-15 ">
                                        <h3>
                                            <a href="#">{{restaurant.title}}</a>
                                            <img src="/static/img/varified.png " alt="">
                                        </h3>
                                        <p>
                                            <i class="fas fa-map-marker-alt blue">
                                                    {{restaurant.location}}
                                            </i>
                                        </p>
                                    </div>
                                    <div class="properties-footer d-flex">
                                        <div class="restaurant-name">
                                            <img src="/static/img/restaurant-icon.svg" alt="">
                                        </div>
                                        <h3>
                                            <a href="#">{{restaurant.category}}</a>
                                        </h3>
                                        <div class="contact">
                                            <ul>
                                                <li><a href=""><i class="fas fa-phone-alt mr-15"></i></a></li>
                                                <li>
                                                    <a href=""><i class="far fa-envelope mr-15"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            {% endfor %}
                            
                        </div>
                        
                        <div class="pagination-area pt-10">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="single-wrap d-flex justify-content pt-10">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination d-flex">
                                                    <li class="page-item">
                                                        <a href="" class="page-link">
                                                            <i class="fas fa-angle-left"></i>
                                                        </a>
                                                    </li>
                                                    <li><a href="" class="page-link">01</a></li>
                                                    <li><a href="" class="page-link">02</a></li>
                                                    <li><a href="" class="page-link">03</a></li>
                                                    <li>
                                                        <a href="" class="page-link">
                                                            <i class="fas fa-angle-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    </main>
    {% endblock %}

    





</body>

</html>